html {
    height: 80%;
}
body {
    height: 100%;
}
.arrival {
    margin: 5px;
    display: flex;
    background-color: #eeeeee;
    padding: 10px;
    border-radius: 3px;
    justify-content: space-between;
}
.arrivalText {
    border: black solid 2px;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding-top: 0px;
}
.controlArea{
    margin: 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: #eeeeee;
    height: 20px;
}
.arrivalContainer {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: wrap column;
    flex-flow: wrap column;
    max-height: 100%;
}

body {
    margin: 0px;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}
.page {
    margin: 8px;
    padding-bottom: 40px;
    height: 100%;
    display: inline-block;
}
.routeNumber {
    width: 20px;
    height: 20px;
    margin: 5px;
    margin-right: 15px;
    border-radius: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.routeName {
    display: flex;
    align-items: center;
}
.timingInfo {
    text-align: right;
}