.arrival {
    margin: 5px;
}
.arrivalText {
    border: black solid 2px;
    border-radius: 5px;
    display: block;
}
.controlArea{
    margin: 5px;
}
.footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background: lightgray;
    height: 20px;
}
.arrivalContainer {
    max-width: 400px;
    display: inline-block;
}
body {
    margin: 0px;
    font-family: 'Assistant', sans-serif;
    font-size: 18px;
}
.page {
    margin: 8px;
    padding-bottom: 40px;
    text-align: center;
}